<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.jaychenfe.MyMapper">
    <select id="selectNextLink" resultType="String">
        select LINK
        from links_to_be_process
        limit 1
    </select>
    <delete id="deleteLink" parameterType="String">
        delete
        from links_to_be_process
        where link = #{link}
    </delete>
    <insert id="insertNews" parameterType="com.github.jaychenfe.News">
        insert into news (title, content, url, created_at, modified_at)
        values (#{title}, #{content}, #{url}, now(), now())
    </insert>
    <select id="countLink" parameterType="String" resultType="Integer">
        select count(link)
        from links_already_processed
        where link = #{link}
    </select>
    <insert id="insertLink" parameterType="HashMap">
        insert into
        <choose>
            <when test="tableName == 'LINKS_ALREADY_PROCESSED'">
                links_already_processed
            </when>
            <otherwise>
                links_to_be_process
            </otherwise>
        </choose>
        (link)
        values (#{link})
    </insert>
</mapper>